<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="images/logo-pestaña.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<script src="https://kit.fontawesome.com/04871647c0.js" crossorigin="anonymous"></script>
<body>
   <header>
   <section class="contenedor-header">
    <section id="logo-barrabusqueda">
        <figure id="logo">
    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre " width="134px" height="134px"/>
    </figure>
    <form id="barrabusqueda">
        <input class="busqueda" type="text" name="buscar" placeholder="Buscar productos y marcas">
        <button class="lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</section>
<article id="mano-dolar">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    <p>Compra en cuotas y sin tarjeta de credito</p>
</article>
</section>
<nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/views/registrate">Crea tu cuenta</a> <i class="fa-solid fa-address-card">
            </i> </li>
            <li><a href="/login.html">ingresa </a><i class="fa-solid fa-right-to-bracket">
            </i> </li>
            <li><a href="/">Mis compras </a><i class="fa-solid fa-basket-shopping"></i> </li>
         
        </ul>
    </nav>
    <button class="burger-menu">
        <i class="fas fa-bars"></i>   
    </button>
   </header> 

   <main>
    
    <!-- banner-->
    <figure id="banner">
        <img src="/images/img-home-banner.jpg" width="360"  alt="Banner de Ofertas"   />
    </figure>
    <!-- ultimo visto-->
<section>
    <h3>Basados en tu ultima visita</h3>
<section class="contenedor-cartas">
        
        <!-- 1er producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$6.770</figcaption>
        <p class="descuento">40% off</p>
        </article>
        <p class="descripcion">Cafetera Moulinex</p>
        </section>
    </article>

        <!-- 2do producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$230.000</figcaption>
        <p class="descuento">20% off</p>
        </article>
        <p class="descripcion">MacBook Pro 2019</p>
        </section>
    </article>

        <!-- 3er producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$70.500</figcaption>
        <p class="descuento">10% off</p>
        </article>
        <p class="descripcion">Telefono Movil Samsung Galaxy S10</p>
        </section>
    </article>

        <!-- 4to producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$23.200</figcaption>
        <p class="descuento">5% off</p>
        </article>
        <p class="descripcion">SamrtTv Samsung</p>
        </section>
    </article>
</section>
</section>
<section>
<h3>Ofertas</h3>
    <section class="contenedor-cartas">
        <!-- Ofertas-->
        
        <!-- 1er producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$6.770</figcaption>
        <p class="descuento">40% off</p>
        </article>
        <p class="descripcion">Cafetera Moulinex</p>
        </section>
    </article>

        <!-- 2do producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$230.000</figcaption>
        <p class="descuento">20% off</p>
        </article>
        <p class="descripcion">MacBook Pro 2019</p>
        </section>
    </article>

        <!-- 3er producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$70.500</figcaption>
        <p class="descuento">10% off</p>
        </article>
        <p class="descripcion">Telefono Movil Samsung Galaxy S10</p>
        </section>
    </article>

        <!-- 4to producto-->
        <article class="tarjeta-producto">
            <figure class="producto">
        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Cafetera" class="product_img">
        </figure>
        <section class="info-producto">
            <figure class="envio">
        <i class="fa-solid fa-truck" style="color: green;"></i>
        </figure>
        <article class="info-precio">
        <figcaption>$23.200</figcaption>
        <p class="descuento">5% off</p>
        </article>
        <p class="descripcion">SamrtTv Samsung</p>
        </section>
    </article>
        
    </section>
  </section>
</section>
   </main>
   <!-- footer -->
   <footer>
    <section >
    <article class="tarjeta">
        <i class="fa-solid fa-credit-card" ;></i>
        
        <H4>Pagá con tarjeta o en efectivo</H4>
        <p class="info-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
             puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="tarjeta">
        <i class="fa-solid fa-gift" ;></i>
        
        <h4>Envío gratis desde $ 2.500</h4>
        <p  class="info-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article class="tarjeta">
        
        <i class="fa-solid fa-user-shield" ></i>
        <h4>Seguridad, de principio a fin</h4>
        <p  class="info-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </article>
    </section>
 <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>